<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kiva_id %><br />
    <%= f.text_field :kiva_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.text_field :country_id %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :kiva_status %><br />
    <%= f.text_field :kiva_status %>
  </div>
  <div class="field">
    <%= f.label :loan_sector_id %><br />
    <%= f.text_field :loan_sector_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
