<h1>Listing loans</h1>

<table>
  <tr>
    <th>Kiva ID</th>
    <th>Title</th>
    <th>City</th>
    <th>Country</th>
    <th>Gender</th>
    <th>Kiva status</th>
    <th>Loan sector</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.kiva_id %></td>
    <td><%= loan.title %></td>
    <td><%= loan.city %></td>
    <td><%= loan.country %></td>
    <td><%= loan.gender %></td>
    <td><%= loan.kiva_status %></td>
    <td><%= loan.loan_sector %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
